body {
  margin: 0;
  padding: 0;
}

.category,
.costItem {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0 5px 0 5px;
  margin: 0;
  align-items: center;
}

.category {
  background-color: lightgreen;
  font-size: 18px;
  font-weight: bold;
}

.category p,
.costItem p {
  flex: 2 1 20%;
  text-align: center;
  /*border: 1px solid black;*/
  margin: 3px;
  padding: 3px;
}

.category p:first-child,
.costItem p:first-child {
  flex: 1 2 60%;
  text-align: left;
}

.costItem p:first-child {
  font-size: 18px;
}

.costItem p:nth-child(2),
.costItem p:nth-child(3) {
  border-radius: 15px;
  background-color: green;
  color: white;
}
